@model tl2_tp6_2024_MauroOrlando2000.Models.PresupuestoDetalle

@{
    int idPres = (int) ViewData["idPres"];
    ViewData["Title"] = "Agregar producto";
    IEnumerable<Producto> Productos = (List<Producto>)ViewData["Productos"];
}

<h2>@ViewData["Title"]</h2>
<form asp-action="AgregarProducto" asp-route-id="@idPres" method="post">
    <div class="form-group">
        <label asp-for="IDProducto">Ingrese el ID del producto:</label>
        <select asp-for="IDProducto" id="Producto" required>
            <option value="" disabled selected hidden>-- Seleccione una opcion --</option>
        @{
            foreach(Producto product in Productos)
            {
                <option value="@product.IdProducto">@product.Descripcion - @product.Precio.ToString("C")</option>
            }
        }
        </select>
    </div>
    <div class ="form-group">
        <label asp-for="Cantidad">Cuantos quiere?:</label>
        <input type="number" asp-for="Cantidad" required>
    </div>
    <input type="submit" value="Enviar" class="btn btn-primary">
    <input type="reset" value="Borrar" class="btn btn-danger">
</form>