@model tl2_tp6_2024_MauroOrlando2000.Models.Presupuesto

@{ ViewData["Title"] = "Modificar presupuesto"; }

<h2>@ViewData["Title"]</h2>
<h4>@Model.NombreDestinatario</h4>
<h4>@Model.FechaCreacion</h4>
@foreach(PresupuestoDetalle detalle in Model.Detalle)
{
    <h5>Descripcion: @detalle.Producto.Descripcion</h5>
    <h5 style="margin-bottom: 1em;">Cantidad: @detalle.Cantidad</h5>
}

<form asp-action="ModificarPresupuesto" method="post">
    <div class="form-group">
        <label asp-for="NombreDestinatario">Nombre:</label>
        <input asp-for="NombreDestinatario" required>
    </div>
    <input type="submit" value="Enviar" class="btn btn-primary">
</form>